<div class="info">
    Choose between the following logins: <b>guest</b>, <b>viewer</b>, <b>callcenter</b>, <b>manager</b> or <b>admin</b>.
    Since this is just a demo application, passwords are ignored.
</div>

<h2>Sign In</h2>

@using(Html.BeginForm("SignIn", "Account", FormMethod.Post))
{
    <div>
        <label for="username">Username</label>
        <input id="username" type="text" name="username" />
    </div>    
    <div>
        <label for="password">Password</label>
        <input id="password" type="password" name="password" />
    </div>
    <div>
        <input type="submit" value="Sign In"/>
    </div>
}
