@using CanI.Mvc

<h1>Can I?</h1>
Welcome to the Demo MVC site for CanI.

You should be able to see this view, even when not authenticated.

<br />
@if (Html.ICan("AccessSecretData", "Home"))
{
    <a href="/Home/AccessSecretData">link to secret data ...</a>
}
@if (Html.ICan("View", "Secret"))
{
    <a href="/Secret">link to secret controller ...</a>
}
