@using CanI.Mvc

<a href="/Home/Index">Home</a>

@if (Html.ICan("View", "Customers"))
{
    <a href="/Customers">Customers</a>
}

@if (Html.ICan("View", "Secret"))
{
    <a href="/Secret">Admin</a>
}