@using CanI.Core

<a href="/Home/Index">Home</a>

@if (I.Can("View", "Customers"))
{
    <a href="/Customers">Customers</a>
}

@if (I.Can("View", "Admin"))
{
    <a href="/Admin">Admin</a>
}