<!DOCTYPE html>
<html>
<head>
    <title>Can I?</title>
</head>
    <body>
        <div id="main">
            @RenderBody()
        </div>
        <div id="navigation">
            @Html.Partial("Navigation")
        </div>
    </body>
</html>