<!DOCTYPE html>
<html>
<head>
    <title>Can I?</title>
</head>
    <body>
        <div id="header">
            @Html.Partial("Navigation")
        </div>

        <div id="main">
            @RenderBody()
        </div>

        <div id="footer">
            @Html.Partial("Footer")
        </div>
    </body>
</html>