@using CanI.Core.Authorization

@model CanI.Demo.Services.CustomerViewModel

<h2>@Model.Name</h2>

@if (I.Can("edit", @Model))
{
    <a href="/Customers/Edit/@Model.Id">Edit...</a>
}
@if (I.Can("delete", @Model))
{
    <a href="/Customers/Delete/@Model.Id">Delete</a>
}
