@using CanI.Core.Authorization

@model IEnumerable<CanI.Demo.Models.CustomerViewModel>

<h2>Customers</h2>
<table>
    @foreach (var customer in Model)
    {
        <tr>
            <td>
                <a href="/Customers/Detail/@customer.Id">@customer.Name</a>
            </td>
        </tr>  
    }
</table>

@if (I.Can("create", "customer"))
{
    <hr/>
    <a href="/Customers/New">Create new customer...</a>
}
